@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  min-height: 100vh;
}

h1,
#btn-random,
#loading,
#color-amount {
  font-family: "Nixie One", cursive;
}

.color-box {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

i {
  background-color: white;
  font-size: 20px;
  padding: 5px;
  color: rgb(128, 30, 30);
  transform: translate(13px, -48px);
  float: right;
  cursor: pointer;
  border-radius: 0px 0px 0px 10px;
}
